.countries {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}


.textCenter {
    text-align: center;
    margin-bottom: 18px;
    font-size: 40px;
    color: Aqua;
    font-weight: bolder;
}

.margin-auto {
    text-align: center;
}


.visited-flags-container img {
    width: 140px;
    margin-right: 10px;
    margin-bottom: 10px;
}





@media screen and (max-width: 576px) {
    .countries {
        grid-template-columns: repeat(1, 1fr);
    }

    .textCenter {
        margin-bottom: 15px;
        font-size: 35px;
        color: aqua;
        font-weight: bolder;
    }

}