.country {
    border: 2px solid aqua;
    border-radius: 16px;
     padding: 10px 8px;
    max-width: 300px;
    
    text-align: left;
    margin: 0 auto; 
}



.img {
    width: 100%;
    border-radius: 16px;
}

.country-visited{
    background-color: rgba(0, 255, 255, 0.205);
}

.country-not-visited{
    background-color: rgba(255, 72, 72, 0.247);
}