.country {
    border: 2px solid #ffd700;
    border-radius: 16px;
     padding: 20px 10px;
    max-width: 350px;
    margin-bottom: 20px;
    text-align: left;
    margin: 0 auto; 
}








.img {
    width: 100%;
    border-radius: 16px;
}