#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

}


.card {
  border: 2px solid gold;
  border-radius: 16px;
  padding: 20px 10px;
  max-width: 350px;
  margin-bottom: 20px;
  text-align: left;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid white; */
  column-gap: 15px;
  row-gap: 25px;
}

.img {
  width: 100%;
  border-radius: 16px;
}